---
---

@import "{{ site.theme }}";

header h1::before {
  content: "";
}

header h1 {
  margin: 0;
}

#downloads {
  display: none;
}

header h2 {
  display: none;
}

#footer {
  text-align: center;
  border-top: 1px dashed #b5e853;
  padding-top: 20px;
  margin-top: 40px;
}
